.add-item-to-inventory {
    width: 500px;
    margin: auto;
    box-shadow: rgba(40, 22, 203, 0.24) 0px 3px 8px;
    padding: 20px;
    border-radius: 10px;
    margin-top: 200px;
}

@media only screen and (max-width: 600px) {
    .add-item-to-inventory {
        width: 98%;
    }


}