.table-item {
    background-color: #fff;
    border-radius: 5px;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    font-weight: bold;
    box-shadow: rgba(40, 22, 203, 0.24) 0px 3px 8px;
}

.delete-icon {
    color: red;
    cursor: pointer;
}