.table {
    color: black;
}

.table-striped>thead>tr:nth-of-type(odd)>* {
    color: black;
    padding-bottom: 10px;
    font-weight: bold;
}

.table-striped>tbody>tr:nth-child(odd)>td,
.table-striped>tbody>tr:nth-child(odd)>th {
    color: black;
    /* background-color: whitesmoke; */
}


.table-two {
    margin-top: 30px;
}

#printablediv {
    width: 300px;
    margin: auto;
    border: 1px solid black;
    border-radius: 10px;
    padding: 10px 0;
    margin-top: 50px;
    font-size: 12px;
}

.total-list {
    font-weight: bold;
}

.print-btn-div {
    width: 40px;
    margin: auto;
    margin-top: 30px;
}

.print-btn {
    color: white;
    background-color: green;
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    font-weight: bold;
}

.print-logo {
    width: 100%;
}

.print-logo img {
    width: 15%;
    margin-left: 40%;
    border-radius: 10px;
}

.print-title {
    text-align: center;
    margin-top: 10px;
    font-weight: bold;
}

.powered-by {
    font-weight: bold;
    font-size: 12px;
    margin-top: 50px;
    text-align: center;
}