.minus, .plus {
    border: none;
    color: white;
    border-radius: 5px;
    padding: 5px 10px;
    margin: 5px;
}

.minus {
    background-color: red;
}

.plus {
    background-color: green;
}

.menu-wrapper {
    display: flex;
    align-items: center;
}

.switch-btn {
    max-height: 40px;
    display: flex;
    background-color: #ccc;
    margin-left: 30px;
    border-radius: 5px;
}

.switch-btn button {
    font-size: 13px;
    border: none;
    margin: 5px;
    border-radius: 5px;
}