#myInput {
    /* background-image: url('/css/searchicon.png'); */
    /* Add a search icon to input */
    background-position: 10px 12px;
    /* Position the search icon */
    background-repeat: no-repeat;
    /* Do not repeat the icon image */
    width: 100%;
    /* Full-width */
    padding: 12px 20px 12px 40px;
    /* Add some padding */
    border: 1px solid #ddd;
    /* Add a grey border */
    margin-bottom: 12px;
    /* Add some space below the input */
}

#menu {
    border-collapse: collapse;
    /* Collapse borders */
    width: 100%;
    /* Full-width */
    border: 1px solid #ddd;
    /* Add a grey border */
}

#menu th, #menu td {
    text-align: left;
    /* Left-align text */
    padding: 12px;
    /* Add padding */
}

#menu tr {
    /* Add a bottom border to all table rows */
    border-bottom: 1px solid #ddd;
}

#menu tr.header, #menu tr:hover {
    /* Add a grey background color to the table header and on hover */

    background-color: #f1f1f1;
}

.action-btns {
    display: flex;
    font-size: 13px;
}

.edit-btn {
    border: none;
    border-radius: 5px;
    background-color: green;
    color: white;
    padding: 5px 10px;
}

.delete-btn {
    border: none;
    border-radius: 5px;
    background-color: red;
    color: white;
    padding: 5px 10px;
    margin-left: 10px;
}

.disable-btn {
    border: none;
    border-radius: 5px;
    background-color: grey;
    color: white;
    padding: 5px 10px;
    margin-left: 10px;
}

@media only screen and (max-width: 600px) {
    .action-btns {
        display: block;
    }

    .disable-btn {
        margin: 5px;
    }

}