.menu-page-wrapper {
    display: flex;
    justify-content: space-between;
}

.add-menu {
    width: 20%;
    padding: 20px;
    min-height: 300px;
    max-height: 300px;
    border-radius: 5px;
    box-shadow: rgba(40, 22, 203, 0.24) 0px 3px 8px;

    position: fixed;
}

.menu-list {
    width: 69%;
    box-shadow: rgba(40, 22, 203, 0.24) 0px 3px 8px;
    border-radius: 5px;
    padding: 20px;
    margin-left: 33%;
}