.dashboard-wrapper {
    background-color: whitesmoke;
}

.dashboard-cards {
    display: flex;
    flex-wrap: wrap;
}


.order-status {
    display: flex;
    justify-content: space-evenly;
}

.pending-order, .completed-order {
    box-shadow: rgba(40, 22, 203, 0.24) 0px 3px 8px;
    border-radius: 5px;
    min-height: 500px;
    padding: 10px;
    width: 50%;
    margin: 5px;
}

@media only screen and (max-width: 600px) {
    .dashboard-cards {
        display: block;
    }

}