.dashboard-wrapper {
    background-color: whitesmoke;
    height: 85vh;
    padding-top: 10px;
}

.dashboard-scroller {
    height: 100%;
    overflow-y: scroll;
}

.dashboard-cards {
    display: flex;
    flex-wrap: wrap;
}

.conversion-rate {
    margin-top: 20px;
    background-color: #fff;
    padding: 20px 10px;
    border-radius: 10px;
    box-shadow: rgba(40, 22, 203, 0.24) 0px 3px 8px;
}

.rate-wrapper {
    width: 100%;
    overflow-x: scroll;
}

.display-rate {
    font-weight: bold;
}

.set-rate {
    padding: 20px;
}

.set-rate input {
    width: 80%;
    float: left;
}

.set-rate button {
    width: 20%;
    margin-top: 10px;
    margin-left: 5px;
}

.latest-transactions {
    margin-top: 30px;
}

.latest-txn-heading {
    text-align: left;
    font-weight: bold;
    font-size: 20px;
}

@media only screen and (max-width: 600px) {
    .dashboard-cards {
        display: block;
    }

    .set-rate input {
        width: 100%;
        margin-bottom: 10px;
    }

    .set-rate button {
        width: 100%;
        margin-left: 0;
    }
}