.dbcard {
    width: 23.9%;
    margin: 5px;
    min-height: 120px;
    padding: 20px;
}

.card-icon, .card-title-header {
    margin-top: 10px;
    font-weight: bold;
}

.card-value {
    margin-top: 10px;
    margin-bottom: 10px;
    font-weight: bold;
    font-size: 25px;
}

@media only screen and (max-width: 600px) {
    .dbcard {
        width: 96%;
    }
}